// variables
$active-color: #B39964;
$hover-color: #997F4B;
$passive-color: #333;
$gray-block-bg-color: #F7F7F7;
$copyright-text-color: #777;
$border-shadow-color: #D7D7D7;

$font-name-regular: 'Ubuntu-R';
$font-name-bold: 'Ubuntu-B';

// general
@font-face {
    font-family: $font-name-regular;
    src: url("../fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: $font-name-bold;
    src: url("../fonts/Ubuntu-B.ttf");
}

@mixin transition-effect($seconds) {
    transition: all $seconds ease-in-out;
    -moz-transition: all $seconds ease-in-out;
    -webkit-transition: all $seconds ease-in-out;
}

@mixin vcenter() {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

@mixin button($bg-color, $font-size, $bg-color-hover) {
    background-color: $bg-color;
    border: none;
    color: #fff;
    font-family: Ubuntu-R, sans-serif;
    font-size: $font-size;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: $bg-color-hover;
        color: #fff;
    }
}

@mixin empty-space-m($num) {
    margin-top: $num;
}

@mixin empty-space-p($num) {
    padding-top: $num;
}

a {
    color: #b39964;
    text-decoration: none !important;
    @include transition-effect(.20s);

    &:hover {
        color: #997F4B;
        @include transition-effect(.20s);
    }
}

p {
    margin-top: 0;
    margin-bottom: 1.8em;
}

h2 {
    font-family: $font-name-bold, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

input[type='text'], input[type='email'], input[type='password'], textarea {
    border: 1px solid #E2E2E2;
    font-size: 14px;
    margin-bottom: 10px ;
    padding: 5px 10px;
}

input[type='submit'], input[type='button'] {
    @include transition-effect(.20s);

    &:hover {
        @include transition-effect(.20s);
    }
}

.button {
    @include button($active-color, 12px, $hover-color);
}

.slicker-button {
    @include button($active-color, 17px, $hover-color);
    padding: 10px 35px;
}

.lead {
    color: $active-color;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 1.3em;
}

.jumbotron-heading {
    font-size: 36px;
}

.vcenter {
    @include vcenter();
}

.empty-space {
    padding-top: 80px;
}

.gray-block {
    background-color: $gray-block-bg-color;
}

// navbar
.navbar-custom {
    background-color: #fff;
    border-bottom: 1px solid #ECECEC;
    padding: 22.5px 0;
    text-transform: uppercase;

    .nav {
        float: right;
        font-size: 13px;
    }

    .navbar-nav {
        .nav-link {
            color: $passive-color;
            font-family: $font-name-bold, sans-serif;
            margin: 0 8px;
        }


        .nav-link:hover,
        .active > .nav-link,
        .active > .nav-link:hover {
            border-bottom: 2px solid $active-color;
            color: $active-color;
        }

        .reservation {
            border: 1px solid $passive-color;
            font-family: $font-name-regular;
            margin: 0;
            padding-left: 15px;
            padding-right: 15px;

            &:hover {
                border: 1px solid $active-color;
                color: $active-color;
            }
        }
    }
}

// content
.content {
    box-shadow: 0 0 10px $border-shadow-color;
    padding: 0;

    h3 {
        font-family: $font-name-bold;
        line-height: 1.5em;
        text-transform: uppercase;
    }

    .row {
        font-family: $font-name-regular, sans-serif;
        padding: 80px 0 55px 0;

        div {
            padding-left: 23px;
            padding-right: 23px;
        }
    }

    .finally {
        border-bottom: 1px solid $border-shadow-color;

        .row {
            padding-bottom: 0;
        }
    }
}

//footer
.footer {
    font-family: $font-name-regular, sans-serif;

    h3 {
        font-family: $font-name-bold;
        font-size: 16px;
        line-height: 1.5em;
        text-transform: uppercase;
    }

    p, a {
        font-size: 14px;
    }

    .row {
        padding: 65px 0;
    }

    .copyright {
        background-color: $passive-color;

        .row {
            color: $copyright-text-color;
            padding: 30px 0 15px;
            text-align: center;

            p, a {
                font-size: 12px;
            }
        }
    }
}

// slick
.slick-dots {
    bottom: 0;

    li {
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
        height: 15px;
        margin: 0 3px 5px 2px;
        width: 15px;

        button {
            background-color: #888;
            border: 6px solid #fff;
            height: 15px;
            padding: 0;
            width: 15px;
        }

        &.slick-active button {
            background-color: #555;
        }
    }
}